body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 0 !important;
}

.jumbotron {
	background-color: #222222 !important; 
	padding: 30px !important;
}

th {
	color: #FFF;
}

h4 {
	color: #FFF !important;
}

.form-group {
	color: #FFF !important;
}